# EDA

Here are the translations of the instructions:

- Check for missing values.
- Determine the type of each column (categorical or numerical?).
- Descriptive statistics for each column (min, max, mean, etc.).
- Scatter plots between each pair of columns and histograms for each column.
- Record count for each category.
- Check for outliers.
- Correlation between columns.

In [1]:
import pandas as pd
merged_data = pd.read_csv("merged_data.csv")

# Check for missing values
missing_values = merged_data.isnull().sum()

missing_values

Date                   0
Open                   0
High                   0
Low                    0
Close                  0
Adj Close              0
Volume                 0
Ticker                 0
SentimentScore    176469
dtype: int64

Only SentimentScore has 176,469 missing values.

In [2]:
# Check the data types of each column
data_types = merged_data.dtypes

data_types

Date               object
Open              float64
High              float64
Low               float64
Close             float64
Adj Close         float64
Volume              int64
Ticker             object
SentimentScore    float64
dtype: object

In [3]:
# Get descriptive statistics for each column
descriptive_stats = merged_data.describe()

descriptive_stats

,Open,High,Low,Close,Adj Close,Volume,SentimentScore
count,233135.000000,233135.000000,233135.000000,233135.000000,233135.000000,2.331350e+05,56666.000000
mean,134.095460,135.864769,132.277744,134.112890,130.112657,1.143806e+07,0.013755
std,217.520329,220.320146,214.613616,217.487610,217.902406,2.826915e+07,0.066255
min,0.700000,0.710000,0.650000,0.700000,0.700000,0.000000e+00,-0.920000
25%,38.450001,38.900002,37.980000,38.459999,34.619999,1.503500e+06,0.000000
50%,72.029999,72.900002,71.156670,72.059998,66.220001,3.245000e+06,0.004000
75%,147.979996,149.854752,145.979996,147.990005,142.840500,8.550050e+06,0.040000
max,2697.750000,2721.850098,2687.810059,2703.260010,2703.260010,1.065523e+09,1.000000

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style of seaborn
sns.set(style="whitegrid")

# Create a pair plot
pair_plot = sns.pairplot(merged_data.dropna(), hue='Ticker')

plt.show()

/Users/kobayashikouta/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [ ]:
# Check the record count for each category in the 'Ticker' column
category_counts = merged_data['Ticker'].value_counts()

category_counts

In [ ]:
import numpy as np
# Define a function to detect outliers in each column using the IQR method
def detect_outliers(df, features):
    outlier_indices = []
    
    for c in features:
        # 1st quartile
        Q1 = np.percentile(df[c], 25)
        # 3rd quartile
        Q3 = np.percentile(df[c], 75)
        # IQR
        IQR = Q3 - Q1
        # Outlier step
        outlier_step = 1.5 * IQR
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[c] < Q1 - outlier_step) | (df[c] > Q3 + outlier_step)].index
        # Append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        
    return outlier_indices

# Detect outliers in the numerical columns
numerical_columns = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SentimentScore']
outlier_indices = detect_outliers(merged_data, numerical_columns)

# Create a dataframe of outliers
outliers = merged_data.loc[outlier_indices]

outliers.head()

These five rows are outliers. How to deal with these values?

In [ ]:
# Select only the numeric columns
numeric_columns = merged_data.select_dtypes(include=[np.number])

# Compute the correlation matrix
correlation_matrix = numeric_columns.corr()
correlation_matrix

In [ ]:
# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')

plt.show()